@import "tailwindcss";

@layer base {
  * {
    /* Font Redering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    /* Browser UI color scheme detection */
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply m-0 min-w-[320px] min-h-screen;
    @apply bg-slate-900 text-slate-100;
  }

  @media (prefers-color-scheme: light) {
    body {
      @apply bg-white text-slate-900;
    }
  }
}
